@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/opensans/OpenSans-Variable.woff2') format('woff2-variations');
    font-weight: 300 800;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-text: #333;
    --color-primary: #1d4e51;
    --color-background: #fff;

    --spacing-default: 1em;
    --spacing-small: 0.5em;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-background);
    /* style choice for the website, can undo in specific areas as needed) */
    text-transform: lowercase;
}

a,
a:visited {
    color: var(--color-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
