---
import Layout from '~layouts/Layout.astro';
import WordDisplay from '~components/WordDisplay.astro';
import { getCurrentWord } from '~utils/word-utils.js';
import { getEducationalOrgSchemaData } from '~config/schema-data.js';
import { getWebsiteHealthData } from '~utils/version-utils.js';

const currentWord = getCurrentWord();
const schemas = [getEducationalOrgSchemaData()];
const healthData = getWebsiteHealthData();
---

<Layout title="Bug's (Occasional) Word of the Day" word={currentWord} schema={schemas}>
  <main>
    <WordDisplay />
  </main>
  <script define:vars={{ healthData }} is:inline>
    window.wordbug = healthData;
  </script>
</Layout>

<style>
	.past-words {
		width: 100%;
		margin: var(--spacing-large) 0;
	}

	.past-words__container {
		width: 100%;
		max-width: var(--content-width-medium);
		margin: 0 auto;
	}
</style>
