---
import Layout from '~layouts/Layout.astro';
import WordDisplay from '~components/WordDisplay.astro';
import { getCurrentWord } from '~utils/word-utils.js';
import { STRUCTURED_DATA_TYPE } from '~utils/schema-utils.ts';

const currentWord = getCurrentWord();
---

<Layout word={currentWord} structuredDataType={STRUCTURED_DATA_TYPE.WORD_SINGLE}>
  <main>
    <WordDisplay />
  </main>
</Layout>

<style>
	.past-words {
		width: 100%;
		margin: var(--spacing-large) 0;
	}

	.past-words__container {
		width: 100%;
		max-width: var(--content-width-medium);
		margin: 0 auto;
	}
</style>
