---
import Layout from '~layouts/Layout.astro';
import WordDisplay from '~components/WordDisplay.astro';
import { getCurrentWord } from '~utils/word-utils.js';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.

const currentWord = getCurrentWord();
---

<Layout title="Bug's (Occasional) Word of the Day" word={currentWord}>
  <main>
    <WordDisplay />
  </main>
</Layout>

<style>
	.past-words {
		width: 100%;
		margin: var(--spacing-large) 0;
	}

	.past-words__container {
		width: 100%;
		max-width: var(--content-width-medium);
		margin: 0 auto;
	}
</style>
