---
const currentYear = new Date().getFullYear();
const attributionLink = 'https://github.com/seriouslysean/wordbug';
---

<footer id="footer">
    <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/stats">Stats</a></li>
        {attributionLink && (
          <li><a href={attributionLink} target="_blank">Made with &lt;3 { currentYear }</a></li>
        )}
    </ul>
</footer>

<style>
	#footer {
        padding: var(--spacing-default);
        text-align: center;
        /* style choice, ideally this might want to be set by color only */
        opacity: 0.6;
	}

    li {
        display: inline-flex;
    }

    li:not(:last-child)::after {
        content: '·';
        width: var(--spacing-default);
        text-align: center;
    }
</style>
