---
const siteName = `Bug's (Ocassional) Word of the Day`;
---
<header id="header">
	<nav>
		<a href="/">
			<h1>{ siteName }</h1>
		</a>
	</nav>
</header>

<style>
	#header {
        padding: var(--spacing-default);
        text-align: center;
        /* style choice, ideally this might want to be set by color only */
        opacity: 0.6;
	}
</style>
