---
import WordLink from '~components/WordLink.astro';
const { words } = Astro.props;
---

{words.length > 0 && (
  <section class="past-words">
    <ul class="past-words__list">
      {words.map((word: { word: string; date: string }) => (
        <li class="past-words__item">
          <WordLink word={word} />
        </li>
      ))}
    </ul>
  </section>
)}

<style>
    .past-words {
        margin: 0 auto;
    }

    .past-words__list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .past-words__item {
        padding: 0.5rem 0;
    }

</style>
