---
import { getCurrentWord, getPastWords } from '~utils/word-utils.js';
import Word from '~components/Word.astro';
import PastWords from '~components/PastWords.astro';

const currentWord = getCurrentWord();
const pastWords = getPastWords(currentWord?.date);
---

<div class="word-display">
    <Word word={currentWord} />
    <PastWords words={pastWords} />
</div>

<style>
    .word-display {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }
</style>
